$text-black-0: #464E5E;
$shadow-color: #00000029;
$thick-black:#0B0F19;
$main-green: #58C294;
$green-1: #3FCBCA;
$green-2: #72CDC6;
$white-1: #fff;
$ash-0: #EFF2FC;
$ash-3: #dadada;
$border-color: #D4D7E5;
$row-line: #9A98AD;
$navy-blue: #363557;
$darker-black: #0B0F19;
$inputborder-color: #707070;
$purple: #696CF1;
